html {
	font-family: Helvetica;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
	color: white;
}
h1{
	padding: 2vh;
}
p{
	font-size: 1.5rem;
}
body {
	background-color: black;
	background-size: contain;
}